*{
    margin: 0;
    padding: 0;
}
.add_to{
    background-color: white;
    width: 30rem;
    height: 30rem;
    margin-left: 40rem;
    margin-top: 3rem;
}
.profile_heading{
    margin-left: 4rem;
    font-size: 1.4rem;
    font-style: italic;
    margin-top: 2rem;
}
.horizental{
    margin-top: 1rem;
    margin-left: 2rem;
    width: 40rem;
}
.core_heading{
    /* margin-top: 1rem; */
    font-style: italic;
    font-size: 1.5rem;
    margin-left: 2rem;
    color: black;
}
.start_paragraph{
    /* margin-left: 1rem; */
    margin-top: 5px;
    color: palevioletred;
}
.Add_about_heading{
    margin-top: 1rem;

}
.second_line{
    margin-top: 1.3rem;
    width: 37rem;
    margin-left: -2rem;
    font-style: italic;
}
.Add_eduction_heading{
    margin-top: 1rem;
    width: 37rem;
    margin-left: 5px;
    font-style: italic;

}
.Add_position_heading{
    margin-top: 1rem;
    width: 37rem;
    margin-left: 5px;
    font-style: italic;


}
.Add_skills_heading{
    margin-top: 1rem;
    width: 37rem;
    margin-left: 5px;
    font-style: italic;

}
.Add_recomm_heading{
    margin-top: 1rem;
    width: 37rem;
    margin-left: 5px;
    font-style: italic;
    color: red;

}
.additinol_heading{
    margin-top: 1rem;
    width: 37rem;
    margin-left: 5px;
    font-style: italic;
    color: red

}
