*{
    margin: 0;
    padding: 0;
}
.job{
    background-color: white;
    /* width: 48rem; */
    height: 24rem;
    /* margin-left: 40rem; */
    margin-top: 3rem;
}
.job_heading{
    /* margin-left: 4rem; */
    font-size: 1.4rem;
    font-style: italic;
    /* margin-top: -2rem; */
    margin-top: 3rem;
}
.horizental{
    margin-top: 1.8rem;
   
}
.my_image_seconsd_part{
    margin-top: 1rem;
    margin-left: 3rem;
    /* border-radius: 10px; */
    clip-path: circle(50%);
    Border: solid 6px white;
    Margin-bottom: -20px;
    border-radius: 100px;
}
.name_rubi{
    margin-top: -5rem;
    margin-left: 13rem;
    color: red;
    font-size: 1.5rem;
    font-style: italic;
}
.open_work{
    margin-left: 13rem;
    font-size: 1.2rem;
    font-style: italic;
}
#pencil_incons{
    color: blue;
    margin-left: 33rem;
    margin-top: -52rem;
    font-size: 1.3rem;
}
.job_title{
    margin-left: 3rem;
    margin-top: 3rem;
    color: blueviolet;
}
.software{
    margin-left: 2.2rem;
    margin-top: 1.1rem;
}
.job_location{
    margin-left: 2rem;
    margin-top: 1.1rem;
    font-style: italic;
    color: crimson;
}
.new_delhi{
    margin-left: 2rem;
    margin-top: 1.2rem;
}
.hoeizental_line2{
    margin-top: 1rem;
}
.only_heading{
    /* margin-top: 1rem; */
    margin-left: 1.2rem;
    font-size: 1.3rem;
}