*{
    margin: 0;
    padding: 0;

}
.edit_infor{
    background-color: white;
    width: 100%;
    height: 100%;
    /* margin-left: 33rem; */
    /* margin-top: 5rem; */

}
.information{
    /* margin-top: 4rem; */
    margin-left: 13rem;
    font-size: 2rem;
    font-style: italic;
}
#plus_icons{
    margin-left: 20rem;
}
.horizental_line{
    margin-top: 2rem;
}
.indeciate{
    margin-top: 1rem;
    margin-left: 2rem;
}
.first_name{
    margin-top: 1rem;
    margin-left: 2.2rem;
}
.last_name{
    margin-left: 2rem;
    margin-top: 2rem;

}
.name{
    margin-left: -1rem;
}
.Additinoal_name{
    margin-left: 2rem;
    margin-top: 2rem;
}
.Pronnuciation_name{
    margin-left: 2rem;
    margin-top: 2rem;
}
#mobile_icons{
    margin-left: 2rem;
    margin-top: 1rem;
}
.headline{
    margin-left: 2rem;
    margin-top: 1rem;

}
.corrunt_position{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-style: italic;

}
#plus_icons_potion{
    margin-left: 2rem;
    margin-top: 1.2rem;
    color: blue;
    font-size: 1.3;
}
.industr_name{
    margin-left: 2rem;
    margin-top: 1rem;


}
.industry_name_hight{
    margin-left: -1.4rem;
}
.eduction_name{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: black;


}
.second_name{
    margin-left: 2rem;
    margin-top: 1rem;

}
.add_new_eduction{
    margin-left: 2rem;
    margin-top: 1rem;
    color: blue;


}
#right_icons{
    margin-left: 2rem;
    margin-top: 1rem;
    background-color: chartreuse;
    font-size: 2rem;

}
.location_name{
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.3rem;

}
.countrt_name{
    margin-left: 2rem;
    margin-top: 1rem;

}
.indea_box{
    margin-left: -2rem;
}
.city_name{
    margin-left: 2rem;
    margin-top: 1.4rem;

}
.contact{
    margin-left: 2rem;
    margin-top: 1.4rem;

}
.add_or_edit{
    margin-left: 2rem;
    /* margin-top: 1.4rem; */


}
.contact_infor_edit{
    margin-left: 2rem;
    margin-top: 1.4rem;
    color: blue;
    font-size: 1.3rem;

}
.save_name{
    margin-left: 36rem;
    margin-top: 1rem;
    /* color: rgb(64, 64, 66); */
    font-size: 1.3rem;
    border-radius: 10%;
    background-color: blue;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 6rem;
    height: 2rem;
    color: white;
    

}
.form-control{
    width: 90%!important;
    border: 1px solid grey;
    border-radius: 5px;
    padding:  0px 10px ;

    

}
.form-control1{
    width: 90%!important;
    border: 1px solid grey;
    border-radius: 5px;
    padding:  10px 10px ;
    background-color: white;
}
.input button{
    flex-basis: 40%;
    padding: 15px;
    background-color: greenyellow;
    margin-left: 40rem;
    border-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}